body {
    font-family: Arial, sans-serif;
    background-image: url("{{ url_for('static', filename='images/accident_bg.jpg') }}");
    background-size: cover;
    margin: 0;
    padding: 0;
}

h1 {
    color: black;
    text-align: center;
    margin-top: 50px;
}

form {
    width: 400px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

h2 {
    text-align: center;
    color: #28a745;
}

h3 {
    text-align: center;
    color: red;
}
